@page "/"


<div class="container">
    <div class="row">
        <!-- Coloană pentru cardurile cu textul, vizibilă pe toate dimensiunile -->
        <div class="col-12 col-md-4 d-flex flex-column order-md-1">
            <div class="card h-100 border-0 shadow-sm p-4 mb-3">
                <div class="row">
                    <div class="col">
                        <div class="mt-5">
                            <div class="row bg-white mb-3">
                                <div class="col p-2">
                                    <div class="shadow bg-custom text-white p-4 rounded d-flex justify-content-center align-items-center clickable bg-custom-hover">
                                        <span>Creare petiții</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-white p-2">
                                    <div class="shadow bg-custom text-white p-4 rounded d-flex justify-content-center align-items-center clickable bg-custom-hover">
                                        <span>Petițiile mele</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col bg-white p-2">
                                    <div class="shadow bg-custom text-white p-4 rounded d-flex justify-content-center align-items-center clickable bg-custom-hover">
                                        <span>Semnare petiții</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Coloană pentru cardul cu imaginea, vizibilă pe toate dimensiunile -->
        <div class="col-12 col-md-8 d-flex justify-content-end order-md-2">
            <div class="card border-0 shadow-sm p-4 mb-3 flex-grow-1">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 bg-primary text-white align-items-center justify-content-center rounded h-100">
                            <div class="w-100 h-100">
                                <img src="Images/news.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="News Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="card border-0 shadow-sm p-5 mb-4">

        <div class="row">
            <!-- Secțiunea Despre -->
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="p-4 bg-custom text-white rounded d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h3>Despre</h3>
                        <p class="description-text">Vivamus vitae ante cursus, maximus ante a, egestas neque. Sed id scelerisque ipsum, eget suscipit turpis. Donec a ornare tellus.Vivamus vitae ante cursus, maximus ante a, egestas neque. Sed id scelerisque ipsum, eget suscipit turpis. Donec a ornare tellus.Sed id scelerisque ipsum.</p>
                    </div>
                </div>
            </div>

            <!-- Secțiunea Obiective -->
            <div class="col-12 col-md-6">
                <div class="p-3 bg-custom text-white rounded d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h3>Obiective</h3>
                        <ul class="objectives-list">
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

